@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

html,body{
    background-color: darkgray;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;

}

header>h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header>p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 3vh;
}

section.normal{
    background-color: white;
    color: black;
}

section.img01 , section.img02{
    color:white;
    background-color: rgb(84, 84, 84);
}

section.img01>p, section.img02>p{
    background-color: rgba(0, 0, 0, 0.367);
    display: inline-block;
    padding: 1vh;
}

section.img01{
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

section.img02{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px 0px;
}